<div class="card" style="width: 18rem;"*ngFor="let user of users">
  <img src="{{user.avatar}}" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <button type="button" (click)="verPost(user.id)" class="btn btn-outline-success">Seleccionar</button>
  </div>
</div>