<div class="card mb-3" style="max-width: 540px;" *ngFor="let post of post">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{post.avatar}}" class="card-img" alt="...">
      <h4 class="card-title">{{post.username}}</h4>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <button type="button" (click)="verElPost(post.id)" class="btn btn-outline-success">Ver Post</button>
      </div>
    </div>
  </div>
</div>