<br>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src={{elpost.avatar}} class="card-img" alt="..."><br>
      <p>{{elpost.usuario}}</p>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{elpost.title}}</h5>
        <p class="card-text">{{elpost.review}}</p>
      </div>
    </div>
  </div>
  
</div>
<h2>Comentarios:</h2>


<div class="card mb-3" style="max-width: 540px;" *ngFor="let comentario of comentarios">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{comentario.usuarioavatar}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{comentario.usuariocomment}}</h5>
        <p class="card-text">{{comentario.comment}}</p>
      </div>
    </div>
  </div>
</div>

<h3>Envia un comentario:</h3>

<form (ngSubmit) = "guardar(forma)" #forma="ngForm">
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
     placeholder="Ingrese Comentario"
     name="comentario"
    [(ngModel)]="creoComentario.comment">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>